<img src="bit_hd.jpg"/>

In [1]:
# <span style="color:blue"> DEFINATION </span>:# Hypothesis Testing
## <span style="color:blue">Prepared By</span>:     PRAKASH

# Importing Libraries.

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import ttest_ind

1. Pandas:-library that we will use for loading and displaying thedata in a table.          
2. Numpy:-library that we will use for linear algebra operations.                  
3. stats:-library containing statistical tests and algorithms.
4. ttes_ind:-library containing algorithm for ttest.

# Reading Data Using Pandas.

In [3]:
data=pd.read_csv('seed.csv')

In [4]:
#data.columns=['reading1','reading2','reading3','reading4','reading5','reading6','reading7','reading8','reading9','reading10','reading11','reading12','reading13','reading14','reading15','result']

In [5]:
data.head()

    val1   val2    val3   val4   val5  val5.1    va6  result
0  15.26  14.84  0.8710  5.763  3.312   2.221  5.220     1.0
1  14.88  14.57  0.8811  5.554  3.333   1.018  4.956     1.0
2  14.29  14.09  0.9050  5.291  3.337   2.699  4.825     1.0
3  13.84  13.94  0.8955  5.324  3.379   2.259  4.805     1.0
4  16.14  14.99  0.9034  5.658  3.562   1.355  5.175     1.0

In [6]:
data.isnull().sum()

val1      0
val2      0
val3      3
val4      0
val5      1
val5.1    0
va6       4
result    4
dtype: int64

In [7]:
#data['result']=data['result'].fillna()
data['result'] = data['result'].fillna(method = 'ffill')

In [8]:
col=['val1','val2','val4','result']
data=data[col]
data

      val1   val2   val4  result
0    15.26  14.84  5.763   1.000
1    14.88  14.57  5.554   1.000
2    14.29  14.09  5.291   1.000
3    13.84  13.94  5.324   1.000
4    16.14  14.99  5.658   1.000
5    14.38  14.21  5.386   1.000
6    14.69  14.49  5.563   1.000
7    14.11  14.10  5.420   5.000
8    16.63  15.46  6.053   1.000
9    16.44  15.25  5.884   1.000
10   15.26  14.85  5.714   1.000
11   14.03  14.16  5.438   1.000
12   13.89  14.02  5.439   1.000
13   13.78  14.06  5.479   1.000
14   13.74  14.05  5.482   1.000
15   14.59  14.28  5.351   1.000
16   13.99  13.83  5.119   1.000
17   15.69  14.75  5.527   1.000
18   14.70  14.21  5.205   1.000
19   12.72  13.57  5.226   1.000
20   14.16  14.40  5.658   1.000
21   14.11  14.26  5.520   1.000
22   15.88  14.90  5.618   1.000
23   12.08  13.23  5.099   1.000
24   15.01  14.76  5.789   1.000
25   16.19  15.16  5.833   1.000
26   13.02  13.76  5.395   1.000
27   12.74  13.67  5.395   1.000
28   14.11  14.18  5.541   1.000
29   13.45  14.02  5.516   1.000
..     ...    ...    ...     ...
180  11.41  12.95  5.090   3.000
181  12.46  13.41  5.236   3.000
182  12.19  13.36  5.240   3.000
183  11.65  13.07  5.108   3.000
184  12.89  13.77  5.495   3.000
185  11.56  13.31  5.363   3.000
186  11.81  13.45  5.413   3.000
187  10.91  12.80  5.088   3.000
188  11.23  12.82  5.089   3.000
189  10.59  12.41  4.899   3.000
190  10.93  12.80  5.046   3.000
191  11.27  12.86  5.091   3.000
192  11.87  13.02  5.132   3.000
193  10.82  12.83  5.180   3.000
194  12.11  13.27  5.236   3.000
195  12.80  13.47  5.160   3.000
196  12.79  13.53  5.224   3.000
197  13.37  13.78  5.320   3.000
198  12.62  13.67  5.410   3.000
199  12.76  13.38  5.073   3.000
200  12.38  13.44  5.219   3.000
201  12.67  13.32  4.984   4.745
202  11.18  12.72  5.009   3.000
203  12.70  13.41  5.183   3.000
204  12.37  13.47  5.204   3.000
205  12.19  13.20  5.137   3.000
206  11.23  12.88  5.140   3.000
207  13.20  13.66  5.236   3.000
208  11.84  13.21  5.175   3.000
209  12.30  13.34  5.243   3.000

[210 rows x 4 columns]

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(data.result.drop_duplicates()) 
data.result=le.transform(data.result)

# 1 sample Ttest.

## Null hypothesis:
     -   variable val1 mean is same as whole feature mean.

In [10]:

r1=data.val1[:30]
r1_mean=np.mean(r1)
print(r1_mean)
from scipy.stats import ttest_1samp
tset,pval=ttest_1samp(r1,0.025)
print("p-values",pval)
if(pval<0.05):
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

14.46
p-values 7.264210324043819e-34
 we are rejecting null hypothesis

# Paired Ttest.

In [11]:
r1=data.val1[:30]
r2=data.val2[:30]
r1_mean=np.mean(r1)
r2_mean=np.mean(r2)
print("Reading1 mean value:",r1_mean)
print("Reading2 mean value:",r2_mean)
r1_std=np.std(r1)
r2_std=np.std(r2)
print("Reading1 std value:",r1_std)
print("Reading2 std value:",r2_std)
ttest,pval=ttest_ind(r1,r2)
print("p-value",pval)
if pval <0.05:
    print("we reject null hypothesis")
else:
    print("we accept null hypothesis")

Reading1 mean value: 14.46
Reading2 mean value: 14.335333333333331
Reading1 std value: 1.1134480978773404
Reading2 std value: 0.5178013347049448
p-value 0.5866681592403293
we accept null hypothesis

# Stests

In [12]:
from scipy import stats
from statsmodels.stats import weightstats as stests
ztest,pval=stests.ztest(data['val1'],x2=None,value=0.031)
print(float(pval))
if pval<0.05:
    print("We reject null hypothesis")
else:
    print("We accept null hypothesis")

0.0
We reject null hypothesis

# One way Annova

In [13]:
from scipy.stats import f_oneway
F,p=f_oneway(data.val1,data.val2)
print("p-value for significance is:",p)
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

p-value for significance is: 0.19102832421949842
accept null hypothesis

# Chi square test

In [14]:
contingency_table=pd.crosstab(data["val1"],data["val2"])
print('contingency_table :-\n',contingency_table)
Observed_Values=contingency_table.values 
print("Observed Values :-\n",Observed_Values)
b=stats.chi2_contingency(contingency_table)
Expected_Values=b[3]
print("Expected Values :-\n",Expected_Values)
no_of_rows=len(contingency_table.iloc[0:2,0])
no_of_columns=len(contingency_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)

contingency_table :-
 val2   12.41  12.57  12.63  12.72  12.73  12.79  12.80  12.82  12.83  12.86  \
val1
10.59      1      0      0      0      0      0      0      0      0      0
10.74      0      0      0      0      1      0      0      0      0      0
10.79      0      0      0      0      0      0      0      0      0      0
10.80      0      1      0      0      0      0      0      0      0      0
10.82      0      0      0      0      0      0      0      0      1      0
10.83      0      0      0      0      0      0      0      0      0      0
10.91      0      0      0      0      0      0      1      0      0      0
10.93      0      0      0      0      0      0      1      0      0      0
11.02      0      0      0      0      0      0      0      0      0      0
11.14      0      0      0      0      0      1      0      0      0      0
11.18      0      0      0      1      0      0      0      0      0      0
11.19      0      0      0      0      0      0      0      0      0      0
11.21      0      0      0      0      0      0      0      0      0      0
11.23      0      0      1      0      0      0      0      1      0      0
11.24      0      0      0      0      0      0      0      0      0      0
11.26      0      0      0      0      0      0      0      0      0      0
11.27      0      0      0      0      0      0      0      0      0      1
11.34      0      0      0      0      0      0      0      0      0      0
11.35      0      0      0      0      0      0      0      0      0      0
11.36      0      0      0      0      0      0      0      0      0      0
11.40      0      0      0      0      0      0      0      0      0      0
11.41      0      0      0      0      0      0      0      0      0      0
11.42      0      0      0      0      0      0      0      0      0      1
11.43      0      0      0      0      0      0      0      0      0      0
11.48      0      0      0      0      0      0      0      0      0      0
11.49      0      0      0      0      0      0      0      0      0      0
11.55      0      0      0      0      0      0      0      0      0      0
11.56      0      0      0      0      0      0      0      0      0      0
11.65      0      0      0      0      0      0      0      0      0      0
11.75      0      0      0      0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
18.81      0      0      0      0      0      0      0      0      0      0
18.83      0      0      0      0      0      0      0      0      0      0
18.85      0      0      0      0      0      0      0      0      0      0
18.88      0      0      0      0      0      0      0      0      0      0
18.89      0      0      0      0      0      0      0      0      0      0
18.94      0      0      0      0      0      0      0      0      0      0
18.95      0      0      0      0      0      0      0      0      0      0
18.96      0      0      0      0      0      0      0      0      0      0
18.98      0      0      0      0      0      0      0      0      0      0
19.06      0      0      0      0      0      0      0      0      0      0
19.11      0      0      0      0      0      0      0      0      0      0
19.13      0      0      0      0      0      0      0      0      0      0
19.14      0      0      0      0      0      0      0      0      0      0
19.15      0      0      0      0      0      0      0      0      0      0
19.18      0      0      0      0      0      0      0      0      0      0
19.31      0      0      0      0      0      0      0      0      0      0
19.38      0      0      0      0      0      0      0      0      0      0
19.46      0      0      0      0      0      0      0      0      0      0
19.51      0      0      0      0      0      0      0      0      0      0
19.57      0      0      0      0      0      0      0      0      0      0
19.94      0      0      0      0      0      0      0      0      0      0
20.03      0      0      0      0      0      0      0      0      0      0
20.10      0      0      0      0      0      0      0      0      0      0
20.16      0      0      0      0      0      0      0      0      0      0
20.20      0      0      0      0      0      0      0      0      0      0
20.24      0      0      0      0      0      0      0      0      0      0
20.71      0      0      0      0      0      0      0      0      0      0
20.88      0      0      0      0      0      0      0      0      0      0
20.97      0      0      0      0      0      0      0      0      0      0
21.18      0      0      0      0      0      0      0      0      0      0

val2   ...  16.89  16.90  16.91  16.92  16.99  17.03  17.05  17.21  17.23  \
val1   ...
10.59  ...      0      0      0      0      0      0      0      0      0
10.74  ...      0      0      0      0      0      0      0      0      0
10.79  ...      0      0      0      0      0      0      0      0      0
10.80  ...      0      0      0      0      0      0      0      0      0
10.82  ...      0      0      0      0      0      0      0      0      0
10.83  ...      0      0      0      0      0      0      0      0      0
10.91  ...      0      0      0      0      0      0      0      0      0
10.93  ...      0      0      0      0      0      0      0      0      0
11.02  ...      0      0      0      0      0      0      0      0      0
11.14  ...      0      0      0      0      0      0      0      0      0
11.18  ...      0      0      0      0      0      0      0      0      0
11.19  ...      0      0      0      0      0      0      0      0      0
11.21  ...      0      0      0      0      0      0      0      0      0
11.23  ...      0      0      0      0      0      0      0      0      0
11.24  ...      0      0      0      0      0      0      0      0      0
11.26  ...      0      0      0      0      0      0      0      0      0
11.27  ...      0      0      0      0      0      0      0      0      0
11.34  ...      0      0      0      0      0      0      0      0      0
11.35  ...      0      0      0      0      0      0      0      0      0
11.36  ...      0      0      0      0      0      0      0      0      0
11.40  ...      0      0      0      0      0      0      0      0      0
11.41  ...      0      0      0      0      0      0      0      0      0
11.42  ...      0      0      0      0      0      0      0      0      0
11.43  ...      0      0      0      0      0      0      0      0      0
11.48  ...      0      0      0      0      0      0      0      0      0
11.49  ...      0      0      0      0      0      0      0      0      0
11.55  ...      0      0      0      0      0      0      0      0      0
11.56  ...      0      0      0      0      0      0      0      0      0
11.65  ...      0      0      0      0      0      0      0      0      0
11.75  ...      0      0      0      0      0      0      0      0      0
...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
18.81  ...      0      0      0      0      0      0      0      0      0
18.83  ...      0      0      0      0      0      0      0      0      0
18.85  ...      0      0      0      0      0      0      0      0      0
18.88  ...      0      0      0      0      0      0      0      0      0
18.89  ...      0      0      0      0      0      0      0      0      0
18.94  ...      0      0      0      0      0      0      0      0      0
18.95  ...      0      0      0      0      0      0      0      0      0
18.96  ...      0      0      0      0      0      0      0      0      0
18.98  ...      0      0      0      0      0      0      0      0      0
19.06  ...      0      0      0      0      0      0      0      0      0
19.11  ...      0      0      0      0      0      0      0      0      0
19.13  ...      0      0      0      0      0      0      0      0      0
19.14  ...      0      0      0      0      0      0      0      0      0
19.15  ...      0      0      0      0      0      0      0      0      0
19.18  ...      0      0      0      0      0      0      0      0      0
19.31  ...      0      0      0      0      0      0      0      0      0
19.38  ...      0      0      0      0      0      0      0      0      0
19.46  ...      0      0      0      0      0      0      0      0      0
19.51  ...      0      0      0      0      0      0      0      0      0
19.57  ...      0      0      0      0      0      0      0      0      0
19.94  ...      0      0      0      1      0      0      0      0      0
20.03  ...      0      1      0      0      0      0      0      0      0
20.10  ...      0      0      0      0      1      0      0      0      0
20.16  ...      0      0      0      0      0      1      0      0      0
20.20  ...      1      0      0      0      0      0      0      0      0
20.24  ...      0      0      1      0      0      0      0      0      0
20.71  ...      0      0      0      0      0      0      0      0      1
20.88  ...      0      0      0      0      0      0      1      0      0
20.97  ...      0      0      0      0      0      0      0      0      0
21.18  ...      0      0      0      0      0      0      0      1      0

val2   17.25
val1
10.59      0
10.74      0
10.79      0
10.80      0
10.82      0
10.83      0
10.91      0
10.93      0
11.02      0
11.14      0
11.18      0
11.19      0
11.21      0
11.23      0
11.24      0
11.26      0
11.27      0
11.34      0
11.35      0
11.36      0
11.40      0
11.41      0
11.42      0
11.43      0
11.48      0
11.49      0
11.55      0
11.56      0
11.65      0
11.75      0
...      ...
18.81      0
18.83      0
18.85      0
18.88      0
18.89      0
18.94      0
18.95      0
18.96      0
18.98      0
19.06      0
19.11      0
19.13      0
19.14      0
19.15      0
19.18      0
19.31      0
19.38      0
19.46      0
19.51      0
19.57      0
19.94      0
20.03      0
20.10      0
20.16      0
20.20      0
20.24      0
20.71      0
20.88      0
20.97      1
21.18      0

[193 rows x 170 columns]
Observed Values :-
 [[1 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 1 0 0]]
Expected Values :-
 [[0.0047619 0.0047619 0.0047619 ... 0.0047619 0.0047619 0.0047619]
 [0.0047619 0.0047619 0.0047619 ... 0.0047619 0.0047619 0.0047619]
 [0.0047619 0.0047619 0.0047619 ... 0.0047619 0.0047619 0.0047619]
 ...
 [0.0047619 0.0047619 0.0047619 ... 0.0047619 0.0047619 0.0047619]
 [0.0047619 0.0047619 0.0047619 ... 0.0047619 0.0047619 0.0047619]
 [0.0047619 0.0047619 0.0047619 ... 0.0047619 0.0047619 0.0047619]]
Degree of Freedom:- 1

In [15]:
alpha = 0.05
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic=chi_square[0]+chi_square[1]
print("chi-square statistic:-",chi_square_statistic)
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',ddof)
print('chi-square statistic:',chi_square_statistic)
print('critical_value:',critical_value)
print('p-value:',p_value)
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

chi-square statistic:- 417.99999999999557
critical_value: 3.841458820694124
p-value: 0.0
Significance level:  0.05
Degree of Freedom:  1
chi-square statistic: 417.99999999999557
critical_value: 3.841458820694124
p-value: 0.0
Reject H0,There is a relationship between 2 categorical variables
Reject H0,There is a relationship between 2 categorical variables

# Making Data appropriate for train and test.

In [16]:
X=data.drop('result',axis=1) 
y=data['result']

# Splitting Data.

In [17]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

# Fitting Data.

In [18]:
from sklearn.tree import DecisionTreeClassifier 
dtree_model = DecisionTreeClassifier(max_depth = 2).fit(X_train, y_train) 
dtree_predictions = dtree_model.predict(X_test) 
dtree_predictions

array([0, 0, 0, 0, 3, 1, 1, 0, 1, 3, 0, 3, 0, 3, 1, 1, 3, 0, 0, 0, 3, 0,
       0, 0, 1, 0, 1, 0, 3, 3, 1, 3, 0, 1, 3, 3, 3, 1, 0, 0, 3, 0, 1, 3,
       0, 1, 1, 0, 3, 1, 3, 1, 3], dtype=int64)

In [19]:
from sklearn.metrics import confusion_matrix 
cm=confusion_matrix(y_test,dtree_predictions)
cm

array([[14,  0,  2,  0,  0,  0],
       [ 5, 15,  0,  0,  0,  0],
       [ 0,  0, 14,  0,  0,  0],
       [ 1,  0,  0,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0],
       [ 1,  0,  0,  0,  0,  0]], dtype=int64)

# Plot of Confusion Matrix.

In [20]:
import seaborn as sns
sns.heatmap(cm,annot=True)